
				<!-- FOOTER -->
				<footer>
					<div class="row">
						<div class="col-md-6">
							<p>&copy; 2019 Dr. Sajid M. Choudhury. All Rights Reserved</p>
							<p class="about-sajid"><b>Dr. Sajid Muhaimin Choudhury</b></br>
							Assistant Professor</br>
							Department of Electrical and Electronic Engineering (EEE)</br>
							Bangladesh University of Engineering and Technology (BUET)</br> 
							Dhaka-1205, Bangladesh
							</p>
						</div>

						<div  class="col-md-3">
							<ul class="social">
								<li><a href="http://scholar.google.com/citations?user=Fu8Hkb4AAAAJ&hl=en"><i class="ai ai-google-scholar-square ai-2x"></i></a></li>
								<li><a href="https://www.researchgate.net/profile/Sajid_Choudhury"><i class="ai ai-researchgate-square ai-2x"></i></a></li>
								<li><a href="https://www.linkedin.com/in/sajidmc/"><i class="fa fa-linkedin-square ai-2x"></i></a></li>
								<li><a href="http://orcid.org/0000-0002-0216-7125"><i class="ai ai-orcid-square ai-2x"></i></a></li>
								<!-- <li><a href="https://independent.academia.edu/sajidmc"><i class="ai ai-academia-square ai-2x"></i></a></li> -->
								<li><a href="https://twitter.com/sajidmchoudhury"><i class="fa fa-twitter-square ai-2x"></i></a></li>
							</ul>
						</div>
						<div  class="col-md-3">
						<a href = "http://www.buet.ac.bd/"><img src="{{ theme_url }}/images/BUET_LOGO_grey.png"  onmouseover="this.src='{{ theme_url }}/images/BUET_LOGO_brown.png'" onmouseout="this.src='{{ theme_url }}/images/BUET_LOGO_grey.png'"  height="100" width="105" alt='dp_logo'></a>
						</div>
						
					</div>
				</footer>
			</div>
		</div>
	</div>
</div>
<!-- MAIN CONTENT -->

<!-- JavaScript -->

<!--
<script src="{{ theme_url }}/js/jquery-3.4.1.min.js"></script>
<script src="{{ theme_url }}/js/bootstrap.js"></script>
-->

<!-- 
<script src="{{ theme_url }}/js/nivo-lightbox.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="{{ theme_url }}/js/jquery.flexslider.js"></script>
<script src="{{ theme_url }}/js/jquery.easing.js"></script>
<script src="{{ theme_url }}/js/jquery.mixitup.min.js"></script>
 
<script src="{{ theme_url }}/js/jquery.appear.js"></script>
<script src="{{ theme_url }}/js/jquery.inview.js"></script>
<script src="{{ theme_url }}/js/main.js"></script> -->
<!-- <script src="{{ theme_url }}/js/contact.js"></script> -->
<!-- <script src="{{ theme_url }}/js/animations.js"></script> -->


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163220789-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-163220789-1');
</script>


</body>
</html>