{{ include('header.twig') }}	
			<div class="col-md-9 r-content">
				<!--<div class="flexslider">
					<div class="slides"> -->
						<!-- SECTION 1 - HOMEPAGE -->
						<!--<section class="no-display">-->
							<div class="profile" id="1">
							  {{ content }}
							  <div>
							  
{% for page in pages %}
    {% if page.id starts with meta.title|lower ~ "/" and not page.hidden %}
    {% set pageOrder = (page.id|split('/'))|length %}
    {% if not( (page.id ends with (meta.title|lower ~ "/index") ) )  %}
    {% if (pageOrder <= 2) or (pageOrder==3 and (page.id ends with "/index"))  %}

    
        <div class="post">
        	<!-- <h2>{{page.id}} : {{pageOrder}}</h2> -->
        	

            <h4><a href="{{ page.url }}">{{ page.title }}</a>
            	{% if page.description %}
             - {{ page.description }} 
             {% endif %}
         </h4> 
        </div>
    {% endif %}    
    {% endif %}
    {% endif %}
{% endfor %}
</div>
							</div> 
						<!--</section>-->
						<!-- SECTION 1 - HOMEPAGE -->
            </div>
				</div>
{{ include('footer.twig') }}	