{{ include('header.twig') }}
			<div class="col-md-9 r-content">
				<!--<div class="flexslider">
					<div class="slides"> -->
						<!-- SECTION 1 - HOMEPAGE -->
						<!--<section class="no-display">-->
							<div class="profile" id="1">
							  {{ content }}
							  <div>
							  
{% for page in pages|sort_by("time")|reverse %}
    {% if page.id starts with meta.title|lower ~ "/" and not page.hidden %}
    {% if not(page.id ends with meta.title|lower ~ "/index") %}
    {% if (page.id ends with "index") %}
        <div class="post">
            <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
            <p class="date">{{ page.date_formatted }}</p>
            <p class="excerpt">{{ page.description }}</p>
        </div>
        {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
</div>
							</div> 
						<!--</section>-->
						<!-- SECTION 1 - HOMEPAGE -->
            </div>
				</div>

{{ include('footer.twig') }}				
